.hero-area{
    background-image: url(/assets/hero-bg.png);
    margin-bottom: 74px;
}


.open-sans-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.hero-container{
    text-align: center;
    width: 998px;
    margin: 0 auto;
}
.body{
    font-family: Azeret Mono;        
}
.hero-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;

}
.hero-description{
    color: rgb(13, 19, 33);
    
    font-size: 16px;
    font-weight: 400;   
    text-align: center;
    opacity: 0.7;

}
.btn{
    border-radius: 8px;

    background: rgb(13, 19, 33);
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 21px 24px 21px 24px;
    text-align: center;   
}
.hero-container{
    padding: 26px 221px 44px 221px;   
}
/* web development section */

.web-development-section{

width: 1140px;
margin: 0 auto; 
border-radius:16px ;
background:#0D132105 ;
padding: 80px 97px;
box-sizing: border-box;

}
.development-container{
    display: flex;
    margin: 32px 0;
    padding: 48px 48px;
    justify-content: space-between;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
     
}
.content{
    width:477px ;
}
.content img{
    width:260px;
}
.content-title{
    font-weight: 700;
    font-size: 24px;
    color: #0D1321B3;
}
.content-subtitle{
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
}
.content .button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
    margin: 32px 0;
    font-weight: 600;
    font-size: 20px;
 
}
.margin-left{
    margin-left: 48.8px;
}
.left-side{
    justify-content: left;
}






/* My Instruction Section */

.vedio{
    text-align: center;
    margin-top: 48px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;


padding: 32px;


}
.vedio iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
}
.my-instruction-section{
    width: 1140px;
    margin: 0 auto;
}



/* shared style */
.title{
    font-weight: 800;
    font-size: 32px;
    color: rgb(13, 19, 33);
  
    text-align: center;

}
.description{
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
   text-align: center;
}
/* My current target  */
.my-current-target{


width: 1140px;
height: 463px;
margin: 0 auto;



}
.my-current-target .skills-container{
  display: flex;
}
.skill-content{
    width: 364px;
    padding: 40px;
    margin: 0 24px;
    border-radius: 16px;

    background: rgba(255, 76, 30, 0.05);
}
.color-1{
    background-color: pink;
}
.color-2{
    background-color: aqua;

}
.color-3{
    background-color: aquamarine;
}

.language{
    font-weight: 800;
    font-size: 24px;
    color:rgb(13, 19, 33);
}
.language-description{
    font-weight: 400;
    font-size: 16px;
    color: rgb(13, 19, 33);
}
.skills-container .learn-more{
    font-size: 16px;
    font-weight: 700;
    color:#0D1321
}
/* support section */

.support-section{
    background-image: url(/assets/handshake.jpg);
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    margin: 50px auto; 
    background-position: center;
    padding: 64px 48px;
    text-align: center;  
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
}
.support-title{
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}
.desc{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.message{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;

    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
    padding: 19px 20px;
    font-weight: 400;
    font-size: 16px;

}
.submit-btn{
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
}